a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
td {
    padding: 4px 6px;
    height: 2em;
}
td.name {
    width: 15em;
}
td.value {
    padding:0;
    border-bottom: none;
}
td.number {
    text-align: right;
}
body {
    font-family: Roboto, sans-serif;
    background: lightgrey;
}
th {
    text-align: left;
    vertical-align:top;
}
caption {
    font-size:90%;
    font-style:italic;
}
div.rectangle {
    height: 16px;
    background-color: #336699;
    width: 500px;
}
#middle {
    width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 5px 20px;
}
h1 {
    text-align: center;
    font-style: italic;
    color: grey;
    margin: 10px 0px;
}
#timestamp {
    text-align: center;
    color: grey;
    margin: 0px 0px 20px 0px;
}
