@charset "UTF-8";

@font-face {
  font-family: "season-icon-font";
  src:url("fonts/season-icon-font.eot");
  src:url("fonts/season-icon-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/season-icon-font.woff") format("woff"),
    url("fonts/season-icon-font.ttf") format("truetype"),
    url("fonts/season-icon-font.svg#season-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "season-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "season-icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-snowflake:before {
  color: #03a9f4;
  content: "\e000";
}
.icon-sun:before {
  color: #ffd600;
  content: "\e001";
}
.icon-grass:before {
  color: #64dd17;
  content: "\e002";
}
.icon-tree:before {
  color: #ffa000;
  content: "\e003";
}

.icon-snowflake-grey:before {
  color: #eeeeee;
  content: "\e000";
}
.icon-sun-grey:before {
  color: #eeeeee;
  content: "\e001";
}
.icon-grass-grey:before {
  color: #eeeeee;
  content: "\e002";
}
.icon-tree-grey:before {
  color: #eeeeee;
  content: "\e003";
}
