a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
table.main {
    width: 100%;
    table-layout: fixed;
}
td {
    padding: 4px 6px;
    height: 2em;
}
td.seasons {
	width: 80px;
}
td.name {
    width: 15em;
}
td.value {
    width: 500px;
    padding: 0;
    border-bottom: none;
}
td.number {
    text-align: right;
}
body {
    font-family: Roboto, sans-serif;
    background: lightgrey;
}
th {
    text-align: left;
    vertical-align:top;
}
caption {
    font-size:90%;
    font-style:italic;
}
div.rectangle {
    height: 16px;
    background-color: #336699;
}
div.middle {
    width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px 20px;
}
h1 {
    text-align: center;
    font-style: italic;
    color: grey;
    margin: 5px 0px;
}
h2 {
    font-style: italic;
    color: maroon;
}
#timestamp {
    text-align: center;
    color: grey;
    margin: 0px 0px 20px 0px;
}
