a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
table.main {
    width: 100%;
    table-layout: fixed;
}
td {
    padding: 6px 6px;
    height: 2em;
}
td.seasons {
    white-space: nowrap;
    width: 64px;
}
img.season {
    width: 26px;
    height: auto;
}
td.name {
    width: 15em;
}
td.value {
    width: 500px;
    padding: 0;
    border-bottom: none;
}
td.number {
    text-align: right;
}
body {
    background: lightgrey;
}
th {
    text-align: left;
    vertical-align:top;
}
caption {
    font-size:90%;
    font-style:italic;
}
div.rectangle {
    height: 16px;
    border-radius: 8px;
    background: linear-gradient(to right, #336699, #4d80b3);
    /*background-color: #336699;*/
}
div.middle {
    margin: 30px auto;
    background: #ffffff;
    padding: 20px 20px;
}
h1 {
    text-align: center;
    font-style: italic;
    color: grey;
    margin: 5px 0px;
}
h2 {
    font-style: italic;
    color: maroon;
}
#timestamp {
    text-align: center;
    color: grey;
    margin: 0px 0px 20px 0px;
}
div.parent {
    margin-bottom: 10px;
    margin-top: 10px;
}

