<!--<div class="navbar-fixed">-->
<nav>
<div class="nav-wrapper">
    <a href="index.html" class="brand-logo hide-on-med-and-up">Over 9000</a>
    <a href="index.html" class="brand-logo hide-on-small-only">Over 9000: Popular anime</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="$current_class"><a href="index.html">Current trends</a></li>
        <li class="$summer2015_class"><a href="summer2015.html">Summer 2015</a></li>
        <li class="$spring2015_class"><a href="spring2015.html">Spring 2015</a></li>
        <li class="$winter2015_class"><a href="winter2015.html">Winter 2015</a></li>
        <li class="$about_class"><a href="about.html">About</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li class="$current_class"><a href="index.html">Current trends</a></li>
        <li class="$summer2015_class"><a href="summer2015.html">Summer 2015</a></li>
        <li class="$spring2015_class"><a href="spring2015.html">Spring 2015</a></li>
        <li class="$winter2015_class"><a href="winter2015.html">Winter 2015</a></li>
        <li class="$about_class"><a href="about.html">About</a></li>
    </ul>
</div>
</nav>
<!--</div>-->