<div class="row parent shadeonhover" id="$id">
<div class="valign-wrapper">
<div class="seasons col l2 m2 s3 valign">$season_images</div>
<div class="name col l3 m3 s6 valign">$series_name</div>
<div class="number col l1 m1 s3 valign">$value</div>
<div class="value hide-on-small-only col l6 m6 valign"><div class="rectangle" style="width: ${bar_width}%;"></div></div>
</div>
<div class="rectangle rectangle-standalone hide-on-med-and-up col s12" style="width: ${bar_width}%;"></div>
</div>

<div class="child-$id" style="display: none;">
<div class="row">
<div class="col l6 m6 s12"><span class="indigo-text">Alternate titles:</span> $alternate_titles</div>
<div class="col l6 m6 s12"><span class="indigo-text">Sub groups:</span> $sub_groups</div>
</div>

<div class="row">
$episodes
</div>
</div>